/* The good stuff */

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 1.67rem;
}

/* Buttons */

.btn {
  border-radius: 0;
}

.btn-default {
  transition: background 0.5s ease;
  background: linear-gradient(-180deg,#74C947 0,#4BC459 100%);
  border-radius: 5px;
  border: none;
  color: #fff;
}

.btn-default:hover {
  background: linear-gradient(-180deg,#74C947 0,#36a643 100%);
  color: #fff;
}

.home .btn {
  margin: 0 auto;
  padding: 16px;
  max-width: 300px;
}

/* Navbar */

.navbar-default, .navbar-default a, .navbar-default a.navbar-brand  {
  background-color: #243548;
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: #fff;
  text-decoration: underline;
  background: #243548;
}

.dropdown-menu>li>a, .dropdown-menu {
  background: #243548;
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  text-decoration: underline;
}

.navbar-brand {
  font-size: 20px;
  padding-top: 15px;
}

ul.navbar-left {
  padding-left: 20px;
}

ul.navbar-right {
  padding-top: 15px;
}

.home .col-md-5 div {
  margin-bottom: 10px;
}

/* Questions template */

.flow-wrap {
  background: #eee;
  padding: 15px;
}

.flow-wrap .btn {
  margin: 0 10px 25px 10px;
  padding: 12px 30px;
  font-size: 1.7rem;
}

.flow-wrap h3 {
  padding-bottom: 20px;
}

.flow-wrap .back {
  padding: 10px 15px;
  font-size: 1.2rem;
  margin-top: 30px;
}

.eligible {
  background: #fff;
  padding: 20px 30px 10px 30px;
  border-radius: 5px;
}

.eligible .btn {
  width: 220px;
  margin: 0 auto;
}

/* Footer */

footer {
  margin-top: 155px;
}

footer img {
  width: 140px;
  margin: 0 auto;
  display: block;
}
